.index-icon {
  color: #0a863e;
  align-self: center;
  justify-self: center; }

.container .container-row {
  padding: 1rem 0 2rem 0; }

.card {
  border-radius: 10px; }
  .card .card-header {
    border-radius: 9px 9px 0 0; }
    .card .card-header h4 {
      margin: 0.5rem 0 0 0; }
  .card .row {
    margin: 5px 0; }

#add-form fieldset:not(:first-of-type) {
  display: none; }

.next,
.prev {
  margin: 0 5px; }
