.index-icon {
  color: #1f7341;
  align-self: center;
  justify-self: center; }

.container .container-row {
  padding: 1rem 0 2rem 0; }
  
#main-subtitle {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 30%;
  box-sizing: border-box;
  padding: 80px 10px;
}

#sidebar a:hover {
  text-decoration: underline;
}
#sidebar a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style:italic;
  color:green;
  font-size: 20px;
}

#sidebar a:visited {
  color: rgb(3, 70, 3);
}

#sidebar li {
  font-size: large;
  color:#79ce9b;
  padding: 25px 10px;
}

.row {
  margin-bottom: 30px; }

.card {
  border-radius: 10px;
  padding: 0;
  font-family: 'Oxygen', sans-serif; }

.card .card-header {
  border-radius: 10px 10px 0 0;
  margin: 0; }

.card .card-header h4 {
  margin: 0.25rem 0 0 0; }

.card .row {
  margin: 5px 0; }

.card .card-body {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

form, img {
  display: inline;
}

.btn-primary {
  color: #1f7341;
  background-color: #ffffff;
  border-color: #1f7341;
  font-family: 'Oxygen', sans-serif;
  width: 90px; }

#add-form fieldset:not(:first-of-type) {
  display: none; }

.next, .prev, #return-btn {
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px; }

input.btn:hover.next {
  background-color: #1f7341;
  border: 1px solid #1f7341; }

.return-btn {
  color: #1f7341;
  background-color: #fff;
  border: 1px solid #1f7341;
  border-radius: .25rem;
  font-family: 'Oxygen', sans-serif;
  padding: 6px 12px; }

.d-flex.justify-content-center a:hover {
  color: #fff;
  background-color: #1f7341; }

body {
  background: linear-gradient(to top, #79ce9b, #f8faf8);
  background-size: cover;
  background-repeat: no-repeat; }

.subtitle h3{
  font-family: 'Oxygen', sans-serif;
  font-size: 3em;
  font-weight: bolder;
  background-image: linear-gradient(to top left, #6ed197, #1f7341);
  height: 1.5em;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

#first {
  margin-top: 55px;
  margin-bottom: 35px; }

#second {
  margin-top: 35px;
  margin-bottom: 35px; }

#third {
  margin-top: 35px;
  margin-bottom: 65px; }
