$site-c1: #e2f1e8;
$site-c2: #b0d8c0;
$site-c3: #469667;
$site-c4: #1f7341;
nav {
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
    border: 30px solid transparent;
    border-image: linear-gradient(90deg, $site-c4, $site-c2, $site-c4);
    border-image-slice: 10;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    display: flex;
    justify-content: center;
}

.navbar-collapse.in {
    display: block !important;
}

.navbar-brand {
    padding-left: 1rem;
    font-size: 2em;
    color: $site-c4;
    font-weight: bolder;
    margin-right: 2rem;
}


/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 1199px) {
    nav {
        background-color: #fff;
        font-family: 'Oxygen', sans-serif;
        border: 20px solid transparent;
        border-image: linear-gradient(90deg, $site-c4, $site-c2, $site-c4);
        border-image-slice: 10;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
}


/********** Extra small devices only **********/

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 1.5em;
    }
    nav {
        background-color: #fff;
        font-family: 'Oxygen', sans-serif;
        border: 15px solid transparent;
        border-image: linear-gradient(90deg, $site-c4, $site-c2, $site-c4);
        border-image-slice: 10;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 1.25em !important;
    }
}

a {
    text-decoration: none;
    border-radius: 10px;
}

a:hover,
a:focus {
    color: $site-c4;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1rem;
    font-size: 1.5em;
    color: $site-c4;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    width: 150px;
}

.nav-item a:hover,
.nav-item a:focus {
    background-image: linear-gradient(to top left, #6ed197, #1f7341);
    color: rgb(233, 240, 236) !important;
    text-shadow: 1px 1px 1px rgb(92, 94, 93);
    @media (max-width: 991px) {
        border-radius: 0;
        width: 100%;
        padding-left: 100% !important;
        padding-right: 100% !important;
        display: flex;
        justify-content: center;
    }
}

button.navbar-toggler {
    padding-right: .7rem;
    padding-left: .7rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-right: .7rem;
    font-family: 'Oxygen', sans-serif;
    color: $site-c4;
    text-align: center;
}

.navbar-toggler-icon {
    font-weight: bolder;
}

.nav-item {
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    clear: both;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-toggler-icon {
    font-size: 1.2em;
    color: #1f7341;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.banner-color-line {
    height: 20px;
}

@mixin setColorBlock($bg-color, $h: 100%) {
    background-color: $bg-color;
    height: $h;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: #1f7341;
    text-align: center;
    @media (max-width: 525px) {
        font-size: 25px;
    }
}

.scrolls {
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
    white-space:nowrap;
    display: flex;
    justify-content: center;
    position: relative;
} 

th {
    position: sticky;
    top: 0;
    z-index: 2;
    text-align: center;
}

th#one, th#three, th#five, th#seven, th#nine {
    background:rgb(184, 224, 191)!important;
    opacity: 1 !important;
    border: none;
}
th#two, th#four, th#six, th#eight, th#ten {
    background:rgb(201, 231, 206)!important;
    opacity: 1 !important;
    border: none;
}

table {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    display:inline-block;
    *display:inline;
    vertical-align:center;
    border-collapse: separate;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    vertical-align: middle !important;
    @media (min-width: 1626px) {
        display: inline-table;
    }
}

button {
    margin-left: 30px;
}

td {
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-bottom: 1px rgb(196, 204, 196)solid;
    border-right: 1px rgb(196, 204, 196)solid;
}

td {
    font-weight: lighter;
}

#searchBar {
    width: 90%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Oxygen', sans-serif;
}

#searchWrapper {
    display: flex;
    justify-content: center;
}

footer {
    font-family: 'Oxygen', sans-serif;
    color: $site-c4 !important;
    background-color: $site-c1;
    padding-top: 20px;
    .row {
        margin: 20px 0 0 0;
    }
    .list-unstyled a, address>a{
        color: $site-c4;
    }
    .list-unstyled a:hover,
    .list-unstyled a:focus,
    address>a:hover,
    address>a:focus,
    .text-center a:hover,
    .text-center a:focus {
        background-image: none;
        color: #67b186 !important;
        text-shadow: none;
        border-radius: 0;
        @media (max-width: 991px) {
            color: #67b186 !important;
            text-shadow: none;
            border-radius: 0;
            width: 100%;
            padding: none !important;
        }
    }
    .text-center a {
        color: $site-c4;
    }
    h5 {
        font-weight: bold;
        font-size: 25px;
    }
}

.tableFixHead    { overflow: auto; height: 100px; }
.tableFixHead th { position: sticky; top: 0; }

th, td { padding: 8px 16px; }
th     { background:#eee; }

.scroll-2 {
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 65px;
    box-sizing: border-box;
    white-space:nowrap;
    display: flex;
    justify-content: center;
    position: relative;
}

#charts {
    display:inline-block;
    *display:inline;
}
